body {
  background-color: rgb(176, 176, 176);
}

canvas {
  background-color: white;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}